.profile{
    display: flex;
    flex-direction: column;
    background-color:#e0e0e0;
}

 #editicon{
    color: #128C7E;
    position: relative;
    left:230px;
    bottom:35px;
}
#cancelicon{
    color: #128C7E;
    position: relative;
    left:40px;
}
#updateicon{
    color: #128C7E;
    position: relative;
    left:20px;
}
#Name{
    color: #128C7E
}
.card{
    position: relative;
    top:200px;
    padding-left: 20px;
}
small{
    position: relative;
    padding-left: 20px;
    top:230px;
}
h6{
    font-size: 20px
}

a:hover{
    text-decoration: none
}

.header{
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    height: 11.5%;
    background-color: #128C7E;
    opacity: 0.7;
    
}

.FaCheck{
    position: relative;
    left:250px;
    bottom:35px;
}

#pic{
    border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
    
}